/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #000000;
  --error: #e7195a;
  --form-bg: #79e899;
  --form-border: #de1f1f;
  --form-focus: #080808;
}

body {
  background: #7ac7ea;
  margin: 0;
  font-family: "Poppins";
}

header {
  background: #f78c8c;
  transition: background-color 0.3s ease;
}

header:hover {
  background: #f56c6c;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

header a:hover {
  color: var(--primary);
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.workout-details {
  background: #edd789;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.workout-details:hover {
  transform: translateY(-10px);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
}

.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #464646;
}

.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #eea5f7;
  padding: 6px;
  border-radius: 50%;
  color: #fc9898;
}

/* new workout form */
.create {
  background: var(--form-bg);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px auto;
}

.create h3 {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: var(--primary);
}

label {
  margin-bottom: 5px;
  font-weight: 500;
  color: #333;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid var(--form-border);
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: var(--form-focus);
  outline: none;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background: #333;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}